.card3{
    @apply w-10/12 md:h-full md:w-full mx-auto p-3 rounded-3xl ;
    background-color: #16294F;

    img{
        @apply w-full h-full object-cover;
    }

    .date{
        @apply text-center my-3 text-gray-400 relative;

        &:before{
          @apply w-1/4 bg-slate-400 absolute right-0 top-1/2 ;
          content: "" ;
          height: 2px;
        }

        &:after{
          @apply w-1/4 bg-slate-400 absolute left-0 top-1/2 ;
          content: "" ;
          height: 2px;
        }
    }

    .readMore{
        @apply flex h-20 my-2 p-2 items-center justify-center;

        span{
           @apply text-xl;
        }
        img{
            @apply w-8 h-8 m-2 object-center;
        }
    }
}