.navbar{
    @apply fixed bottom-0 w-full md:top-0 md:grid md:grid-cols-5 xl:w-10/12 
    md:left-1/2 md:transform md:-translate-x-1/2 p-2 backdrop-blur-sm z-50 ;
    background-color: #25252544;
    height: 80px;
    >li{
        @apply h-full;
        div{
            @apply h-full flex justify-center items-center;
        }
    }
    .navMid{
        @apply col-start-2 col-span-3  ;
        ul{
            @apply flex justify-between items-center xl:w-2/3 md:h-full  h-full mx-auto ;
         
         }      
    }

    .buttons{
        @apply col-start-5 col-span-1;
    }
  

    .mobileMenu{
        @apply flex justify-between p-2 bg-red-500 h-full z-50 relative;
     
    }
}       