@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'iranSans_bold';
    src: url('./../fonts/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iranSans';
    src: url('./../fonts/IRANSansFaNum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    direction: rtl;
    font-family: 'iranSans',sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #111B2F;
    color: white;
}

*{
    list-style: none;
}



