.projects{
    @apply min-h-h-1600 flex flex-col;

    .content{
        @apply p-10 text-justify inline-block ;
    
        img{
            @apply w-full h-full rounded-xl md:m-5 ;
        }
    }

    figure{
        width: calc(100vw - 70vw) !important;
        height: 20rem !important;
        float: inline-end !important;
        margin: 0 auto !important;
    }

    @media (max-width: 768px) {


        figure {
            width: calc(100vw - 20vw) !important;
            height: 12rem !important;
            float: none !important;
            margin: 1rem 0 !important;
        }
    }
}